build/*
.vscode/*
src/dataset/bmod02.txt
src/dataset/geo.txt
src/dataset/us.txt
src/workloads/loade_zipf_int_100M.dat
src/dataset/loade_zipf_int_200M.dat
src/workloads/txnse_zipf_int_100M.dat
src/interference/*
kb/*
kb_b_/*
kb_b__/*
kb_quad/*
kb_b/*
src/profiling/PCMMem.cpp
learned/*
run_script.sh
kb_b_linux/*
