build/*
.vscode/*
src/dataset/bmod02.txt
src/dataset/geo.txt
src/dataset/us.txt
src/workloads/loade_zipf_int_100M.dat
src/workloads/txnse_zipf_int_100M.dat
src/interference/*
kb/*
kb_b_/*
kb_quad/*
kb_b/*
kb_bs_linux_4s_4n/*
kb_bs_linux/*
kb_bs_4s_4n/*
kb_bs_profile/*
src/profiling/PCMMem.cpp
learned/*
run_script.sh
kb_b_linux/*
kb_b_linux_old/*
kb_r__/*
kb_bs__/*
kb_r_linux/*
kb_r_linux_pfl/*
kb_b_linux_pfl/*
kb_bs_dynam/*
kb_bs_dynam-old/*
kb_bs_dynam_test/*
kb_bs_linux_dynam/*
